<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
     
        <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;"> -->

        <!-- <meta http-equiv="Content-Security-Policy" script-src='unsafe-inline';> -->
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">
        <meta name="color-scheme" content="light dark">

        <link rel="stylesheet" href="../../css/index.css">

        <link rel="stylesheet" href="../../assets/onsenui/css/onsenui.min.css">
        <link rel="stylesheet" href="../../assets/onsenui/css/onsen-css-components.min.css">

        <link rel="stylesheet" href="../../assets/bootstrap-4.3.1/css/bootstrap.min.css">

        <script src="../../assets/onsenui/js/onsenui.min.js"></script>

        <script src="../../assets/typeahead.js/typeahead.bundle.min.js"></script>

        <!-- Vue2 Import -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        

        <title>Main</title>
    </head>
    <body style="padding: 0px">

      <ons-splitter>
          <ons-splitter-side id="menu" side="left" width="200px" collapse swipeable>
            <ons-page>
              <div style="text-align: center; margin-bottom: 5px">
                
                <img src="../../img/logo.png" width="50%" />

              </div>
              <ons-list>
                <ons-list-item onclick="fn.load('pos/pos.html')" tappable>
                  POS
                  <div class="right" style="color: #1154bf">
                      <ons-icon icon="md-view-dashboard"></ons-icon>
                  </div>
                </ons-list-item>
                <ons-list-item onclick="fn.load('items/items.html')" tappable>
                  Items
                   <div class="right" style="color: #1154bf">
                      <ons-icon icon="md-view-list"></ons-icon>
                  </div>
                </ons-list-item>
                <ons-list-item onclick="fn.load('categories/categories.html')" tappable>
                  Category
                  <div class="right" style="color: #1154bf">
                      <ons-icon icon="md-ungroup"></ons-icon>
                  </div>
                </ons-list-item>
                <ons-list-item onclick="fn.load('units/units.html')" tappable>
                  Unit
                  <div class="right" style="color: #1154bf">
                      <ons-icon icon="md-assignment"></ons-icon>
                  </div>
                </ons-list-item>
                <ons-list-item onclick="" tappable>
                  Users
                  <div class="right" style="color: #1154bf">
                      <ons-icon icon="md-account-box"></ons-icon>
                  </div>
                </ons-list-item>
                <ons-list-item onclick="logout()" tappable>
                  Logout
                  <div class="right" style="color: #1154bf">
                      <ons-icon icon="md-close"></ons-icon>
                  </div>
                </ons-list-item>
                <ons-list-item onclick="fn.load('about.html')" tappable>
                  About
                  <div class="right" style="color: #1154bf">
                      <ons-icon icon="md-info"></ons-icon>
                  </div>
                </ons-list-item>
              </ons-list>
            </ons-page>
          </ons-splitter-side>
          <ons-splitter-content id="content" page="pos/pos.html"></ons-splitter-content>
        </ons-splitter>

        <script type="text/javascript">
          function logout(){
            localStorage.clear();

            window.location.href = '/';

          }
        </script>

        <!-- <script src="../../cordova.js"></script> -->
        <script src="../../js/admin/main.js"></script>

    </body>
</html>

