
<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu" size="20px"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center" style="font-family: Poppins;">
      Item List
    </div>
    <div class="right">
      <ons-toolbar-button onclick="fn.load('items/addItem.html')">
        <ons-icon icon="fa-plus-circle" size="22px"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="container mb-4" style="font-family: Poppins;" id="app-items-list">
    <div class="row showItemCorner">

        <div class="col-sm-12" style="border: 0px solid green">
             <div class="form-group float-left" style="width: 100%; margin-top: 5px">
                <label for="category">Select Category:</label>
                <select class="form-control form-control-md" @change="selectCategory($event)" style="margin-top: -10px">
                  <option value="all">All</option>
                </select>
            </div>

        </div>
        <div class="col-sm-12 mt-2 mb-1" style="border:0px solid green">

              <label class="sr-only" for="searchItem">Search</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><span class="fa fa-search"></span></div>
                </div>
                <input type="text" class="form-control form-sm" id="searchItem" placeholder="Search">
                <!-- <button class="btn btn-primary btn-sm" onclick="btnSearchClk()" >Search</button> -->
              </div>
        </div>
    </div>

    <font class="float-right mt-2 font-weight-bold" style="display: none" id="lblisActive"></font>

      <div id="itemList">
      </div>

  </div>
    
 

  
  <script type="text/javascript">

      new Vue({
          el: '#app-items-list',
          data: {
            msg: 'Hello Mernante'
          },

          methods:{
            selectCategory: function(evt){
              console.log(evt.target.value)
            }
          },

          created(){
            
          }
      })


  </script>
  <style type="text/css">

  </style>
</ons-page>