
<ons-page>
  <div  id="app">

    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="md-menu" size="20px"></ons-icon>
        </ons-toolbar-button>
      </div>
      <div class="center">
        POS
      </div>
      <div class="right">
        
      </div>
    </ons-toolbar>

    <div class="container" style="margin: 65px 10PX 5px 10px;">
      <div class="row">
        {{ message }}
        <button @click="clickMe" >Click Me</button>
        <ul>
          <li v-for="list in lists">{{list.name}}</li>
        </ul>
      </div>
    </div>

  </div>

  
  <script type="text/javascript">

    var app = new Vue({
      el: '#app',
      data: {
        message: 'Hello Vue!',
        lists:[
          {
            'id': '1',
            'name': 'mernante',
            'address': 'matina',
          },
          {
            'id': '2',
            'name': 'piolo',
            'address': 'manila',
          },
          {
            'id': '3',
            'name': 'geapo',
            'address': 'davao',
          },
        ]
      },
      methods:{
        clickMe: function(){
          console.log("haha")
        }
      }
    })


  </script>



  <style type="text/css">



  </style>
</ons-page>