
<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu" size="20px"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center" style="font-family: Poppins;">
      Category List
    </div>
    <div class="right">
      <ons-toolbar-button onclick="addNewCategory">
        <ons-icon icon="fa-plus-circle" size="22px"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="container mb-4" style="font-family: Poppins;"  id="app-categories-list">
    <div class="row showCategoryCorner">

        <div class="col-sm-12 mt-3 mb-1" style="border:0px solid green">

              <label class="sr-only" for="searchCategory">Search</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><span class="fa fa-search"></span></div>
                </div>
                <input type="text" class="form-control form-sm" v-model="search" placeholder="Search">
                <!-- <button class="btn btn-primary btn-sm" onclick="btnSearchClk()" >Search</button> -->
              </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <center v-if="!hasRecord"><font style="font-size: 15px; "><br><br>No category List found.</font></center>

        <ons-gesture-detector v-if="hasRecord" id="detect-area" v-for="category in categories">
          <fieldset class="border rounded border-secondary pl-2 bg-white mt-2" style="width: 100%">
              <div>
                  <p class="mt-1 float-left" style="margin-bottom: 5px; width: 100%;">{{category.name}}</p>
              </div>

          </fieldset>
        </ons-gesture-detector>

      </div>
    </div>

  </div>
    
 

  
  <script type="text/javascript">
      var db = firebase.firestore()

      new Vue({
          el: '#app-categories-list',
          data: {
            msg: 'Hello Mernante',
            search: '',
            hasRecord: true,
            categories: []
          },

          methods:{
            addNewCategory: function(evt){
              console.log(evt.target.value)
            }
          },

          created(){
            document.addEventListener('hold', function(event) {
               console.log(event.target)
            });

            db.collection("category")
						.where("is_active", "==", "yes")
						.get()
						.then(querySnapshot => {
							if(!querySnapshot.empty){
                this.hasRecord = true
								this.pin = ''
								querySnapshot.docs.map(doc => {
									let data = doc.data()
                  console.log(doc.id)
									this.categories.push({
                    name: data.category_name
                  })
								})
							}else{
								this.hasRecord = false
							}
						})
						.catch((err)=>{
							console.log(err)
						})
          }
      })

  </script>
  <style type="text/css">

    .sample
          {
          border:2px solid #a1a1a1;
          padding:10px 40px; 
          background:#dddddd;
          width:300px;
          border-radius:25px;
          }

  </style>
</ons-page>