
<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu" size="20px"></ons-icon>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Unit List
    </div>
    <div class="right">
      <ons-toolbar-button onclick="addNewUnit()">
        <ons-icon icon="md-plus" size="22px"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="container mb-4">
    <div class="row showUnitCorner">

        <div class="col-sm-12 mt-2 mb-1" style="border:0px solid green">

              <label class="sr-only" for="searchUnit">Search</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text"><span class="fa fa-search"></span></div>
                </div>
                <input type="text" class="form-control form-sm" id="searchUnit" placeholder="Search">
                <button class="btn btn-primary btn-sm" onclick="btnSearchClk()" >Search</button>
              </div>
        </div>
    </div>

      <div id="UnitList">
      </div>

  </div>
    
 

  
  <script type="text/javascript">

    var ipaddress = localStorage.getItem('serverAddress');

    // Load the category list on the combo box


     // Under Observation kay sa dili mn gud mo gana usahay sa bluestack
    $('#searchUnit').keyup(function(evt){
        // loadItemListFromSearch(evt.target.value);
       if(evt.target.value == ''){
          loadUnitList();
       }
        
        // console.log(evt.target.value);
    });

    function btnSearchClk(){
      loadUnitList();
    }

    
    loadUnitList();



    function loadUnitList(){

      var search = $('.showUnitCorner #searchUnit').val();

      $('#UnitList').empty();

      $.post(ipaddress+'/saridb/getcontent.php', {data:'getAllUnitList', search:search}, function(res){
        if(res == 'No records'){
          $('#UnitList').append('<center><font style="font-size: 15px; "><br><br>No Unit List found.</font></center>');
        }else{

            for (var i = 0; i < JSON.parse(res).length; i++) {

                var id = JSON.parse(res)[i][0];
                var name = JSON.parse(res)[i][1];

                $('#UnitList').append('<ons-gesture-detector id="detect'+id+'">'+
                              '<fieldset class="border rounded border-secondary pl-2 bg-white mt-2 cl'+id+'" style="width: 100%" id="'+id+'-/-'+name+'">'+
                                // '<legend class="w-auto h6 font-weight-bold m-0 text-primary">'+name+'</legend>'+
                                  '<div>'+
                                    '<div style="width: 90%;" class="float-left">'+
                                      '<p class="mt-1 float-left" style="margin-bottom: 5px">'+name+'</p>'+ 

                                    '</div>'+
                                  '</div>'+

                              '</fieldset></ons-gesture-detector>');

                   getLongPress(id);
                 
            }
        }
      });
                
              

    }

    function getLongPress(id){
       document.getElementById('detect'+id).addEventListener('hold', function (event) {
           var res = $('fieldset.cl'+id).attr('id').split('-/-');
           loadLongPressItem(res[0], res[1]);
        });
    }

    function loadLongPressItem(id, name){
        ons.openActionSheet({
          title: 'Select Action for <b>'+name+'</b>',
          cancelable: true,
          buttons: [
            {
              label:'<font color="blue">Update</font>',
              icon: 'md-edit'
            },
            {
              label: '<font color="red">Delete</font>',
              icon: 'md-block'
            },
            {
              label: '<font>Cancel</font>',
              icon: 'md-close'
            }
          ]
        }).then(function(index) {
          if(index == '0'){
            updateUnit(id, name);
          }
          if(index == '1'){
              ons.notification.confirm({
                message: 'Are you sure you want to delete <b>'+name+'</b>?',
                buttonLabels: ['Yes', 'No'],
                callback: function(i) {
                  if (i==0) {
                    deleteUnit(id);
                  }
                }
              }); 
          }

       })
    }

    function addNewUnit(){

      var fn = function() {
        ons.notification.prompt({
            messageHTML: 'Please input new unit.',
            buttonLabel: ['Cancel','OK'],
            callback: function(evt) {
              if(evt == ''){
                ons.notification.alert({
                      message: 'Please input new unit.',
                      callback: fn
                    });
              }else if(evt == null){
                 // Performs the cancel button
              }else{
                  $.post(ipaddress+'/saridb/getcontent.php', {
                    data: 'checkUnitExistElseAdd',
                    unitDesc: evt
                  }, function(res){
                      if(res == 'okay na'){
                          ons.notification.alert({
                              message:'Unit successfully added.',
                              callback: function(){
                                loadUnitList();
                              }
                          });
                      }else if(res == 'Already Exist'){
                        ons.notification.alert({
                          message: 'Unit Description already exist.',
                          callback: fn
                        });
                      }else{
                        ons.notification.alert({
                          message: res,
                          callback: fn
                        });
                      }
                    })
               }
            }
          });
      }

      fn();
    }

    function updateUnit(id, name){
      var fn = function() {
        ons.notification.prompt({
            messageHTML: 'Please input new unit.',
            buttonLabel: ['Cancel','OK'],
            defaultValue: name,
            callback: function(evt) {
              if(evt == ''){
                ons.notification.alert({
                      message: 'Please input new unit.',
                      callback: fn
                    });
              }else if(evt == null){
                 // Performs the cancel button
              }else{
                  $.post(ipaddress+'/saridb/getcontent.php', {
                    data: 'checkUnitExistElseUpdate',
                    unitDesc: evt,
                    unitId: id
                  }, function(res){
                      if(res == 'okay na'){
                          ons.notification.alert({
                              message:'Unit successfully updated.',
                              callback: function(){
                                loadUnitList();
                              }
                          });
                      }else if(res == 'Already Exist'){
                        ons.notification.alert({
                          message: 'Unit Description already exist.',
                          callback: fn
                        });
                      }else{
                        ons.notification.alert({
                          message: res,
                          callback: fn
                        });
                      }
                    })
               }
            }
          });
      }

      fn();
    }


    function deleteUnit(id){
       $.post(ipaddress+'/saridb/getcontent.php', {
          data: 'deleteUnit',
          unitId: id
        }, function(res){
            if(res == 'okay na'){
                ons.notification.alert({
                    message:'Unit successfully deleted.',
                    callback: function(){
                      loadUnitList();
                    }
                });
            }else{
              console.log(res);
            }

          })
    }


  </script>
  <style type="text/css">

    .sample
          {
          border:2px solid #a1a1a1;
          padding:10px 40px; 
          background:#dddddd;
          width:300px;
          border-radius:25px;
          }

  </style>
</ons-page>