


.fab{
    margin-bottom: 5px !important;
}

#passinput{
    font-size: 35px;
    letter-spacing: 0.7em; 
    background: transparent;
    width: 125px; 
    border:none; 
    border-bottom: 1px solid grey; 
    color: black;
    margin-bottom: 10px;
}